body {
  margin: 0;
  padding: 0;
  color: #FFFFFF;
}

.block {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.cusromer-say {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 66.25em;
  height: 24em;
  background: linear-gradient(#67C3F3, #5A98F2);
  box-shadow: 4px 4px 4px rgb(0, 0, 0, 0.3);
  font-family: 'Mulish', sans-serif;
  border-radius: 22px;
}



.container {
  /* width: 100%; */
  /* width: 66.25em; */
  /* height: 100vh; */
  /* background-color: #FFFFFF; */
  display: flex;
  /* justify-content: center; */
  align-items: center;
  overflow: hidden;
}

.track {
  display: flex;
  flex-direction: row;
  transition: 0.2s;
  /* width: 66.25em; */
}

.box {
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: center; */
  /* justify-content: center; */
  /* min-width: 66.25em; */
  /* height: 24em; */
  /* background: none; */
  /* border-radius: 22px; */
  /* box-shadow: 4px 4px 4px rgb(0, 0, 0, 0.3); */
  /* font-family: 'Mulish', sans-serif */
}

.cusromer-say h1 {
  font-size: 2.125em;
}

.cusromer-say hr {
  width: 3.375em;
  height: 0.125em;
  background-color: #FFFFFF;
  border: none;
}

.inner {
  display: flex;
  align-items: center;
}

.customer {
  display: flex;
}

.photo img {
  border-radius: 50%;
  border: 5px solid #FFFFFF;
  /* border-color: #FFFFFF; */
}

.names h2 {
  font-size: 1.25em;
}

.names p {
  font-size: 1.0625em;
}

.text p {
  font-size: 1.125em;
  width: 50%;
}


.buttons {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  /* padding: 25px; */
}

.btn-prev {
  transform: rotate(180deg);
  background: none;
  border: none;
  /* padding: 25px; */
  /* width: 2.5em; */
}

.btn-prev img {
  /* width: 2em; */
}

.btn-next img {
  /* width: 2em; */
}

.btn-next {
  background: none;
  border: none;
  /* padding: 25px; */
}