@import './colors' 
@import './size'


.block 
  display: flex
  flex-direction: column
  align-items: center

.cusromer-say  
  display: flex
  justify-content: center
  flex-direction: column
  width: 66.25em
  height: 24em
  background: linear-gradient(#67C3F3, #5A98F2)
  // box-shadow: 4px 4px 4px rgb(0, 0, 0, 0.3)
  font-family: 'Mulish', sans-serif
  border-radius: 22px
  color: $white
  h1 
    font-size: 2.125em
  hr 
    width: 3.375em
    height: 0.125em
    background-color: #FFFFFF
    border: none
  &__name-page
    display: flex
    justify-content: center
    flex-direction: column
    align-items: center
    margin-bottom: 25px
    h1 
      margin-top: 0px
  &__container
    display: flex
    align-items: center
    overflow: hidden
  &__track 
    display: flex
    flex-direction: row
    transition: 0.2s
  &__box 
  &__inner 
    display: flex
    align-items: center
    justify-content: space-evenly
  &__customer 
    display: flex
    align-items: center
  &__photo 
    img 
      border-radius: 50%
      border: 5px solid #FFFFFF
      width: 7em
      height: 7em
      background-size: cover
  &__names 
    margin: 25px  
    h2 
      font-size: 1.25em
    p 
      font-size: 1.0625em
      margin-top: 0
  &__text 
    width: 460px
    p 
      font-size: 1.125em

.buttons 
  display: flex 
  align-items: center  
  padding: 40px
  &__btn-prev
    transform: rotateZ(180deg) rotateX(180deg)
    background: none
    border: none
    margin-right: 20px
    img 
      width: 2em
  &__btn-next  
    background: none
    border: none
    margin-left: 20px
    img 
      width: 2em