@import './colors' 
@import './size' 

header 
  height: auto

.header 
  display: flex
  flex-direction: column
  font-family: 'Mulish', sans-serif
  &__dots
    position: absolute
    margin-top: 11.25em
  &__top 
    display: flex
    align-items: center
    justify-content: center
    margin-top: 3.5em
  &__logo 
    display: flex
    align-items: center
    margin-right: 31.25em
    h1  
      font-size: 1.5em
      margin-left: 0.75em
      color: $dark
  &__menu 
  &__manu-nav 
  &__link 
    margin-right: 2.5em
    text-decoration: none
    color: $gray
    font-size: 1.125em
  &__content
    display: flex
    align-items: center 
    justify-content: center
  &__left 
    margin-right: 6.25em
    h1 
      font-size: 3em
      width: 10em
    p 
      font-size: 1.3125em
      width: 20em
      color: $gray
      line-height: 1.5
    button 
      width: 13.5em
      height: 3.5em
      border-radius: 3.4375em
      background-color: $blue
      border: none
      color: $white
      font-weight: bold
      cursor: pointer
  &__right
    img 
      width: 43.125em
      height: 35.5em
      margin-top: 8.125em
