@import './colors' 
@import './size' 
 
.healthcare-providers
  display: flex
  align-items: center
  font-family: 'Mulish', sans-serif
  padding: 6.25em
  &__pic 
    img 
      width: 38.5em
  &__content
    display: flex
    flex-direction: column
    align-items: end
    padding: 5.625em
    h1 
      font-size: 2.125em
      color: $black
    hr 
      width: 3.375em
      height: 0.125em
      background-color: $black
      margin-left: 0
      border: none
    p 
      font-size: 1.125em
      color: $gray
      line-height: 2
    button 
      width: 12.5em
      height: 3.5em
      margin-top: 2em
      border-radius: 3.5em
      border-color: $blue
      color: $blue
      background-color: $white
      cursor: pointer
      transition: 0.6s ease
      &:hover
        background-color: $blue
        border: none
        color: $white

@media (max-width: $desktop) and (min-width: $laptop)
  .healthcare-providers
    padding: 6.25em
    &__pic 
      img 
        width: 29.125em
    &__content
      padding: 2.625em
      h1 
        font-size: 1.5625em
      hr 
        width: 3.375em
        height: 0.125em
        margin-left: 0
      p 
        font-size: 0.75em
        line-height: 2
      button 
        width: 11.5em
        height: 3.5em
        margin-top: 2em
        border-radius: 3.5em

@media (max-width: $laptop) and (min-width: $tablet)
  .healthcare-providers
    padding: 4.25em
    &__pic 
      img 
        width: 21.625em
    &__content
      padding: 2.625em
      h1 
        font-size: 1.25em
      hr 
        width: 2.375em
        height: 0.125em
        margin-left: 0
      p 
        font-size: 0.625em
        line-height: 2
      button 
        width: 10em
        height: 3em
        margin-top: 2em
        border-radius: 3.5em

@media (max-width: $tablet) and (min-width: $phone)
  .healthcare-providers
    padding: 0em
    flex-direction: column-reverse
    &__pic 
      // display: none
      img 
        width: 18em
    &__content
      padding: 2.625em
      h1 
        font-size: 1.25em
      hr 
        width: 2.375em
        height: 0.125em
        margin-left: 0
      p 
        font-size: 0.625em
        line-height: 2
      button 
        width: 10em
        height: 3em
        margin-top: 2em
        border-radius: 3.5em        