@import './colors' 
@import './size' 

.our-services 
  display: flex
  flex-direction: column
  align-items: center
  font-family: 'Mulish', sans-serif
  margin-top: 4.5em
  height: auto
  h1 
    font-size: 2.25em
  hr 
    width: 3.5em
    height: 0.125em
    background-color: $black
  p 
    font-size: 1.125em
    color: $gray
    text-align: center
    margin-bottom: 5.875em
    line-height: 2
  button 
    width: 12.5em
    height: 3.5em
    border-radius: 3.5em
    border-color: $blue
    color: $blue
    background-color: $white
    margin-top: 3.875em
    cursor: pointer
  &__content 
    display: flex
    justify-content: space-evenly
  &__block 
    display: flex
    flex-direction: column
    align-items: end
    width: 21.875em
    height: 19.75em
    border-radius: 1.25em
    box-shadow: 0.25em 0.25em 0.25em rgba(0,0,0,0.1)
    margin-bottom: 2em
  .medium
    margin-left: 2em
    margin-right: 2em
  &__inner 
    padding: 50px
    h1 
      font-size: 1.5em
      color: $black
    p 
      color: $gray
      line-height: 1.5
      text-align: start
